 nav {
   display: flex;
   align-items: center;
   position: fixed;
   color: #FFFFFF;
   background-color: #4056A1;
   height: 120px;
   padding: 1.5em;
   top: 0;
   width: 100%;
   justify-content: space-between;
 }

 nav button {
   cursor: pointer;
 }

 nav span {
   font-size: 24px;
   font-family: 'Bungee', cursive;
 }