.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', cursive;
  width: 100%;
  padding: 0.5em 0.5em 1.5em 0.5em;
}

.new-tweet {
/*   display: none; */
}

.text-box {
  background-color: inherit;
  border-color: #545149;
  border-width: 0 0 5px 0;
  width: 100%;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  outline: 0;
}

.submit-counter {
  display: flex;
  justify-content: space-between;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  justify-content: flex-start;
}

output {
  justify-content: flex-end;
}

.err {
  padding: 0.3em 0em 0.3em 0em;
}